<!doctype html>
<html>
<head>
    <title>ADB Quiz 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/css/add_s_data.css">
    <link rel="stylesheet" type="text/css" href="../static/fontawsome/css/all.css">
</head>
<body>
<h1><a href="{{ url_for('index') }}">ADB Quiz 1</a></h1>
<h1>Chinmay Mandale</h1>
<h1>1001995246</h1>
    <p><a href="{{ url_for('form') }}">Search by criteria</a></p>
    <p><a href="{{ url_for('allPeople') }}">All People</a></p>



<div class="container">

<hr style="width:90%">
        <img src="https://chinmaystorageaccount.blob.core.windows.net/assignment1container/woolf.jpg" alt="No_image_available" width="auto" height="200" style="margin: 0.5em 0;">
<hr style="width:90%">

    </div>
</body>
</html>