<html>
    <head>
        <title>Assignment 6</title>
    </head>
    <body>
        <h1>Chinmay Mandale</h1>
        <h1>1001995246</h1>
        <h1>Line-G</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }}: {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
            {{ form.gameRoom.label }}: {{ form.gameRoom() }} {% for error in form.room.errors %}{{ error }}{% endfor %}<br>
            {{ form.submit() }}
        </form>
    </body>
</html>
